/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../../../_global";

.PUISegmentedPicker {

	display: flex;
	flex-direction: column;

	.label {

	}

	.picker {
		display: grid;
		grid-gap: 2px;
		border-radius: 5px;
		overflow: hidden;
		background: $white;
		border: solid $white 2px;
		margin-top: $small;
		grid-auto-flow: column;
	}

	.option {
		user-select: none;
		display: block;
		background: $background;
		padding: $small;
		font-family: $mono;
		transition: all 250ms ease-in-out;
	}

	.selected {
		background: $white;
		color: $background;
	}

	.option:hover {
		cursor: pointer;
		background: $white;
		color: $background;
	}

}
