/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../__global";

.PUILog {

	display: flex;
	flex-direction: column;
	position: relative;

	.options {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.log {
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		padding-right: 30px;
		margin-right: -30px;
		box-sizing: content-box;
		scroll-behavior: smooth;

		.item {
			display: block;
			font-family: $mono;
			margin: 0;
			padding: 0;
			font-size: 14px;
			min-height: 20px;
			width: 100%;
		}
	}

	.btns {
		position: absolute;
		padding: $medium;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.btns > * {
		transition: transform 250ms ease-in-out;
		margin-left: $medium;
	}

	.btns > *:hover {
		cursor: pointer;
		transform: scale(1.25);
	}

}
