/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../../../_global";

.PUIImmutableBinaryStatus {

	display: flex;
	align-items: center;

	.label {
		margin-right: $small;
		user-select: none;
	}

	.status {
		width: $big * 1.25;
		height: $big * 1.25;
		background: $white;
		border-radius: 50%;
		transition: background 250ms ease-in-out;
	}
}
