/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../__global";

$height: -100%;

.PUIToast {
	position: absolute;
	bottom: $height;
	font-weight: lighter;
	animation: PUIToast-in 500ms ease-in-out forwards;
	transition: transform 250ms ease-in-out;
}

.PUIToast:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.PUIToast-exit {
	animation: PUIToast-out 500ms ease-in-out forwards;
}


@keyframes PUIToast-in {
	0% {
		bottom: $height;
	}
	100% {
		bottom: $medium;
	}
}


@keyframes PUIToast-out {
	0% {
		bottom: $medium;
	}
	100% {
		bottom: $height;
	}
}
