/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "../../__global";

.PUIMutableBinaryStatus {
	display: flex;
	align-items: center;
	transition: all 250ms ease-in-out;

	.label {
		margin-right: $small;
		user-select: none;
	}
}

.PUIMutableBinaryStatus:hover {
	cursor: pointer;
	box-shadow: 0 0 20px black;
	transform: scale(1.05);
}
