/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "pstdl-ui/_global";

body {
	height: 100vh;
	overflow-y: scroll;
}

.pstdl, .TestBed {

	background: $black;
	font-family: $font;
	color: $white;
	padding: 100px;
	width: 100vw;
	height: 400vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: stretch;

}

.TestBed > * {
	margin-top: $big;
}
